
.dashboard
{
    display:flex;
    flex-direction:column;
    font-size:medium;
}
.heading
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
}
.sec
{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:5px;
}
.topsec
{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.cpanel
{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:5px;
}